<h3>Oops there were some errors:</h3>
<ul>
  <% @question.errors().full_messages().each() do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<a href="/"><button class="btn btn-primary front-button">Return to main page to try again</button></a>
