<div class="well" id="front-well">


<a href="/surveys"><button class="btn btn-primary front-button">Survey Designer</button></a>
<a href="/taker"><button class="btn btn-primary front-button">Survey Taker</button></a>
</div>
