<div class="well" id="front-well">

<div class="well">
  <h3>Geography Surveys: How little do you know?</h3>
</div>
<a href="/surveys"><button class="btn btn-primary front-button"><span class="glyphicon glyphicon-plus">&nbsp;</span>Survey Designer</button></a>
<a href="/taker"><button class="btn btn-primary front-button"><span class="glyphicon glyphicon-pencil">&nbsp;</span>Survey Taker</button></a>
</div>
