body {
background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('/img/iron-man.jpg') no-repeat center center;
}

.front-button {
  color: black;
}

#front-well {
  margin: 40% auto 60% auto;
  text-align: center;

  background: black;
}

.panel {
  margin: 10% auto;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.centered-h3 {
  text-align: center;
}
